# ignorar pastas ocultas
/**/.*/ 
# ignorar arquivos ocultos
/**/.*  
# exceto .gitignore
!/.gitignore  

# ignorar pasta venv do python
/venv

#ignorar cache das pastas Python
__pycache__/

#Gráficos gerados que sempre serão modificados
balanca_comercial.html
funil_por_produto.html
ranking_municipios.html
ranking_municipios_cargas.html
municipio_cargas.html