# ignorar pastas ocultas
/**/.*/ 
# ignorar arquivos ocultos
/**/.*  
# exceto .gitignore
!/.gitignore  

# ignorar pasta venv do python
/venv

#ignorar cache das pastas Python
__pycache__/

#Gráficos gerados que sempre serão modificados
/src/graficos-dinamicos