<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="../static/css/graficos.css"> <!--Css para ver como está no live server-->
</head>
<body>
    <header id="navbar">
        <p>CROWS</p>
        <nav>
            <a href="{{ url_for('home') }}">Sobre</a>
            <a href="{{ url_for('graficos') }}">Gráficos</a>
            <a href="#">Municípios</a>
            <a href="#">Contato</a>
        </nav>
    </header>

    <main>
        <section>
            <h1>Selecione o intervalo de datas para os gráficos</h1>
            <form action="{{ url_for('graficos') }}" method="POST">
                <label for="data_inicial">Data Inicial:</label>
                <input type="date" id="data_inicial" name="data_inicial" value="2019-01-01" min="2019-01-01" max="2025-12-31">

                <label for="data_final">Data Final:</label>
                <input type="date" id="data_final" name="data_final" value="2025-12-31" min="2019-01-01" max="2025-12-31">

                <button type="submit">Gerar Gráficos</button>
            </form>
        </section>

        {% if mostrar_grafico %}
        <section style="margin-top: 40px;">
            <h2>Gráfico de Balança Comercial</h2>
            <iframe src="{{ url_for('grafico_resultado') }}" width="100%" height="600" style="border:none;"></iframe>
        </section>
        {% endif %}
    </main>

    <footer>
        <nav id="link-footer">
            <a href="{{ url_for('home') }}">Sobre</a>
            <a href="{{ url_for('graficos') }}">Gráficos</a>
            <a href="#">Municípios</a>
            <a href="#">Contato</a>
        </nav>
        <h6>©2025 Crows</h6>
    </footer>
</body>
</html>
