<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/graficos.css"> <!--Css para ver como está no live server-->
        <style>
        .grafico-container {
            background-color: #fff;
        }
        h1 {
            color: #2978DF;
            font-size: 24px;
            text-align: center;
            z-index: 1;
        }
        @media (max-width: 900px) {
            h1 {
                font-size: 18px;
            }
        }
        @media (max-width: 600px) {
            h1 {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <header id="navbar">
        <p>CROWS</p>
        <nav>
            <a href="{{ url_for('home') }}">Sobre</a>
            <a href="{{ url_for('graficos') }}">Gráficos</a>
            <a href="{{ url_for('feedback') }}">Feedback</a>
        </nav>
    </header>

    <main>
        <section class="filtro" id="filtro">
            <form action="{{ url_for('graficos') }}" method="POST">

                <h3 style="margin-top: 2%;">PERÍODO</h3>
                <div class="campo-data">
                    <label for="data_inicial">Data inicial: <span id="label_inicial"></span></label>
                    <input type="range" id="data_inicial" name="data_inicial" min="0" max="74" value="0">
                </div>
                
                <div class="campo-data">
                    <label for="data_final">Data final: <span id="label_final"></span></label>
                    <input type="range" id="data_final" name="data_final" min="0" max="74" value="74">
                </div>
                               
                <h3>TIPO DE ANÁLISE</h3>
                <input type="radio" id="tipo" name="exp-imp" value="Exportacões" required>
                <label for="tipo">Exportação</label><br>
                <input type="radio" id="tipo" name="exp-imp" value="Importacões" required>
                <label for="tipo">Importação</label><br>

                <h3>MÉTRICA</h3>
                <input type="radio" id="agregado" name="metrica" value="VALOR AGREGADO" required>
                <label for="agregado">Valor Agregado</label><br>

                <input type="radio" id="fob" name="metrica" value="VL_FOB" required>
                <label for="fob">Valor FOB</label><br>

                <input type="radio" id="liquido" name="metrica" value="KG_LIQUIDO" required>
                <label for="liquido">Kg Líquido</label><br>


                <h3>Filtrar por:</h3>
                <input type="radio" id="cidades" name="filtro" value="municipios" required>
                <label for="cidades">Municípios SP</label><br>

                <input type="radio" id="regiao" name="filtro" value="microrregiao" required>
                <label for="regiao">Microrregião</label><br>

                <input type="radio" id="portes" name="filtro" value="portes" required>
                <label for="portes">Portes Semelhantes</label><br>

                <input type="radio" id="carga" name="filtro" value="carga" required>
                <label for="produto">Por carga</label><br>
                
                <div class="campo-input" id="campo-input">
                    <input type="text" list="opcoes-select"  name="opcao">
                    <datalist id="opcoes-select">
                        <option value="">Selecione uma opção</option>
                    </datalist>
                </div>

                <button type="submit" id="btn-gerar-graficos">Gerar Gráficos</button>
                <script>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            alert('{{ messages[0] }}')
                        {% endif %}
                    {% endwith %}
                </script>
            </form>
            <button id="filtro-btn">
                <i class="fa-solid fa-filter" id="filtro-btn-icon"></i>
            </button>
        </section>

        <section class="grafico">
            {% if mostrar_grafico %}
             <div class="iframe-graficos">
                <div class="grafico-container">
                    <h1>Balança Comercial por Município (Exportação - Importação)</h1>
                    <iframe class="responsive-iframe" src="{{ url_for('grafico_primeiro') }}"></iframe>
                </div>

                <div class="grafico-container">
                    <h1>Top 10 Produtos em {{tipo_lower}} por {{metrica}} dos municípios</h1>
                    <iframe class="responsive-iframe" src="{{ url_for('grafico_segundo') }}"></iframe>
                </div>

                <div class="grafico-container">
                    <h1>Top 10 municípios por {{metrica}} de {{tipo_lower}} melhores 5 cargas</h1>
                    <iframe class="responsive-iframe" src="{{ url_for('grafico_terceiro') }}"></iframe>
                </div>

                <div class="grafico-container">
                    <h1>Top 10 municípios por {{metrica}} de {{tipo_lower}} melhores 30 cargas</h1>
                    <iframe class="responsive-iframe" src="{{ url_for('grafico_quarto') }}"></iframe>
                </div>
                {% if grafico_quinto %}
                <div class="grafico-container">
                    <h1>Gráfico de Treemap</h1>
                    <iframe class="responsive-iframe" src="{{ url_for('grafico_quinto') }}" frameborder="0" ></iframe>
                </div>
                
            {% endif %}
             </div>
           
            {% endif %}

        </section>
        
    </main>
    <footer>
        <nav id="link-footer">
            <a href="{{ url_for('home') }}">Sobre</a>
            <a href="{{ url_for('graficos') }}">Gráficos</a>
            <a href="{{ url_for('feedback') }}">Feedback</a>
        </nav>
        <h6>©2025 Crows</h6>
    </footer>

    <script>
        // Cria lista de meses/anos entre 2019-01 e 2024-12 (72 meses)
        const meses = [];
        for (let ano = 2019; ano <= 2025; ano++) {
            for (let mes = 1; mes <= 12; mes++) {
                const mesFormatado = mes.toString().padStart(2, '0');
                meses.push(`${ano}-${mesFormatado}`);
            }
        }
    
        const dataInicialInput = document.getElementById('data_inicial');
        const dataFinalInput = document.getElementById('data_final');
        const labelInicial = document.getElementById('label_inicial');
        const labelFinal = document.getElementById('label_final');
    
        // Função para atualizar o texto visível com o mês/ano
        function atualizarLabel(input, label) {
            const index = parseInt(input.value, 10);
            label.textContent = meses[index];
        }
    
        // Eventos de mudança nos sliders
        dataInicialInput.addEventListener('input', () => {
            atualizarLabel(dataInicialInput, labelInicial);
        });
    
        dataFinalInput.addEventListener('input', () => {
            atualizarLabel(dataFinalInput, labelFinal);
        });
    
        // Atualiza os labels ao carregar a página
        atualizarLabel(dataInicialInput, labelInicial);
        atualizarLabel(dataFinalInput, labelFinal);
    </script>

    <script>
        document.getElementById('opcoes-select').style.display = 'block';
        document.getElementById('campo-input').style.display = 'none';
        const select = document.getElementById('opcoes-select');
        const campoInput = document.querySelector('#campo-input input');
        const radios = document.getElementsByName('filtro');
    
        // Função para carregar CSV
        async function carregarCSV(path) {
            const response = await fetch(path);
            const texto = await response.text();
            const linhas = texto.trim().split('\n').slice(1); // pula o cabeçalho

            // Usando uma expressão regular para dividir corretamente, tratando as aspas
            return linhas.map(linha => {
                return linha.split('","').map(celula => celula.replace(/"/g, ''));
            });
        }
    
        // Função para atualizar as opções do select
        async function atualizarSelect(valor) {
            select.innerHTML = '<option value="">Selecione uma opção</option>';
            let opcoes = [];
    
            // Caso o filtro selecionado seja "microrregiao"
            if (valor === 'microrregiao') {
                document.getElementById('campo-input').style.display = 'block';
                document.getElementById('opcoes-select').style.display = 'none';
                campoInput.required = true;
                const linhas = [
                ["Araraquara"],
                ["Araçatuba"],
                ["Bauru"],
                ["Campinas"],
                ["Marília"],
                ["Presidente Prudente"],
                ["Ribeirão Preto"],
                ["São José do Rio Preto"],
                ["São Paulo"],
                ["São José dos Campos"]
                ];
                const regioes = linhas.map(l => l[0]);
                select.innerHTML = '<option value="">Selecione uma microrregião</option>'
                opcoes = regioes;
    
            // Caso o filtro seja "portes" ou "municipios"
            } else if (valor === 'portes') {
                document.getElementById('campo-input').style.display = 'block';
                document.getElementById('opcoes-select').style.display = 'none';
                campoInput.required = true;
                const linhas = await carregarCSV('{{ url_for("static", filename="opcoes-csv/df_mun.csv") }}');
                const cidades = [...new Set(linhas.map(l => l[0]))].sort();
                opcoes = cidades;
                select.innerHTML = '<option value="">Selecione uma cidade</option>'
    
            // Caso o filtro seja "carga"
            } else if (valor === 'carga') {
                document.getElementById('campo-input').style.display = 'block';
                document.getElementById('opcoes-select').style.display = 'none';
                campoInput.required = true;
                const linhas = await carregarCSV('{{ url_for("static", filename="opcoes-csv/df_sh4.csv") }}');
                const cargas = linhas.map(l => l[0].substring(0,30)+'...');
                select.innerHTML = '<option value="">Selecione uma carga</option>'
                opcoes = cargas;
            } else if (valor == 'municipios'){
                document.getElementById('campo-input').style.display = 'none';
                document.getElementById('opcoes-select').style.display = 'none';
                campoInput.required = false;
            }
    
            // Adicionando as opções ao select
            opcoes.forEach(op => {
                const opt = document.createElement('option');
                opt.value = op;
                opt.textContent = op;
                select.appendChild(opt);
            });
        }
    
        // Adicionando evento nos rádios de filtro
        radios.forEach(radio => {
            radio.addEventListener('change', (e) => {
                atualizarSelect(e.target.value);
            });
        });
    </script>

    <script>
        document.getElementById('filtro-btn').addEventListener('click', function() {
            const filtro = document.getElementById('filtro');

        filtro.classList.toggle('recolhido');
    
        // Ajusta o layout do main quando o filtro recolhe/expande
        if (filtro.classList.contains('recolhido')) {
            document.querySelector('main').style.gridTemplateColumns = '82px 39% 39%';
        } else {
            document.querySelector('main').style.gridTemplateColumns = '22% 39% 39%';
        }
    });
    </script>
</body>

</html>