<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- css externo-->
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap" rel="stylesheet"> <!-- fonte da página-->
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header id="navbar">
            <p>CROWS</p>
            <nav>
                <a href="#">Sobre </a>
                <a href="#">Gráficos </a>
                <a href="#">Municípios </a>
                <a href="#">Contato </a>
            </nav>
    </header>

    <main>
        <section class="primeira-parte">
            <article id="texto">
                <h1 id="titulo">Descubra as exportações dos municípios de São Paulo</h1>
                <p id="subtitulo">Explore virtualizações dinâmicas sobre as exportações dos municípios de SP</p>
                <button type="button">Explorar gráficos →</button>
            </article>
            <section >
                <figure>
                    <img src="../imagens/imagem1.png" alt="grafico" id="img1">
                </figure>
            </section>
        </section>
        

        <section class="segunda-parte">
            <h2>Entenda as tendências de exportação através de insights claros e acessíveis.</h2>
        </section>

        <section class="terceira-parte">
            <article id="sect1-terceira_parte">
                <p id="txt-terceira_parte">Encontre análises por município, com ranking de valor agregado, principais cargas movimentadas e evolução histórica da balança comercial para cada cidade</p>
                <button type="button">Saiba mais</button>
            </article>
            <section id="sect2-terceira_parte">
                <figure>
                    <img src="../imagens/imagem2.jpeg" alt="img2" id="img2">
                </figure>
            </section>
        </section>
    </main>

    <footer>
        <nav id="link-footer">
            <a href="#">Sobre</a>
            <a href="#">Gráficos</a>
            <a href="#">Municípios</a>
            <a href="#">Contato</a>
        </nav>
        <h6>©2025 Crows</h6>
    </footer>
</body>
</html>
